
<div class="header_hero">
  <div class="single_hero bg_cover d-flex align-items-center justify-content-center "
    style="background-image: url('../../../assets/images/wallpaperflare.com_wallpaper\ \(4\).jpg');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <div class="hero_content text-center">
          </div> <!-- hero content -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- single hero -->
</div> <!-- header hero -->


<app-explorenerby></app-explorenerby>
<app-live-any-where></app-live-any-where>
<app-discover-things></app-discover-things>



<!-- <div class="card">
    <h5>Advanced</h5>
    <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
             accept="image/*" >
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
    </p-fileUpload>

  </div> -->

<app-footer></app-footer>
